<div class="ui-card">
  <% content_for :title, "Editing room" %>

  <h1>editing room</h1>

  <%= render 'form', room: @room %>

  <br>

  <div style="margin-top: 10px;">
    <%= link_to "show this room", @room %> |
    <%= link_to "back to rooms", rooms_path %>
  </div>
</div>
