<div class="ui-card">

  <% content_for :title, "New room" %>

  <h1>new room</h1>

  <%= render "form", room: @room %>

  <br>

  <div style="margin-top: 10px;">
    <%= link_to "back to rooms", rooms_path %>
  </div>
</div>